<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://ekphrasis.ca/images/images/COUVW4.jpg" />
    <link rel="image_src" href="http://ekphrasis.ca/images/images/COUVW4.jpg" />

    <title>Distorsion</title>
    <meta name="description" content="Ekphrasis est une revue de création littéraire fondée par des étudiants et qui propose d'incarner un mot, un thème ou un concept par cette chair littéraire qu'est le texte. Soutenant l'inconnu à bout de bras, la revue Ekphrasis propose des imitations sans origine, un passage entre l'imaginaire encore informe et la mise en corps de l'écriture qui s'ouvre, explorateur, sur l'éden des lettres." />

    <link rel="stylesheet" href="css.css" type="text/css">

    <script type="text/javascript">
  <!--
  if (screen.width <= 800) {
    window.location = "http://ekphrasis.ca/mobile/index.html";
  }
  //-->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78119603-1', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>
    <center>
        <div class="haut">
            <table cellspacing="15"><tr>
                <td><a href="index.html">
                    <div class="menu" style="margin-bottom: 5px;">Accueil</div>
                </a></td>
                <td><a href="numeros.html">
                    <div class="menu2" style="margin-bottom: 5px;">Numéros</div>
                </a></td>
                <td><a href="textes.html">
                    <div class="menu" style="margin-bottom: 5px;">Textes</div>
                </a></td>
                <td><img src="images/revue.png" style="z-index:3; width: 180px; position: relative; top: 3px;">
                </td>
                <td><a href="theme.html">
                    <div class="menu" style="margin-bottom: 5px;">Thème</div>
                </a></td>
                <td><a href="actualite.html">
                    <div class="menu" style="margin-bottom: 5px;">Actualité</div>
                </a></td>
                <td><a href="contact.html">
                    <div class="menu" style="margin-bottom: 5px;">Contact</div>
                </a></td>
            </tr></table>
        </div>

        <div class="fond">

        <div style="height: 60px;"></div>

        <table cellpadding="30">
        	<tr>
                <td>
                    <img src="images/COUVW4.jpg" class="ncouv">
                </td>
                <td valign=top>
                    <div class="ncouvtitre">
                        Distorsion
                    </div>
                    <div class="ncouvtexte" style="width:500px;">
                        Automne | 2016<br /><br />
                        Il n’y a pas d’amour plus vrai qu’un amour imaginé. Et personne n’est plus vrai qu’un personnage de roman… mais que sommes-nous, alors, nous dont l’art et l’amour sont plus vrais et plus forts que nousmêmes ? Par quelle absurde distorsion sommes-nous rendu à nous-mêmes, dans un monde qui nous altère, nous déforme ? C’est que notre droiture est précisément celle d’une distorsion, notre compréhension celle d’une incompréhension, notre art celui d’un monde qui ne lui ressemble en rien. Ne faudrait-il pas en tirer conclusion cela que la distorsion est un jeu, rien de plus, mais un jeu auquel il importe de savoir se prêter, si l’on veut jamais, comme à une destination, y être rendu. PAR FRANCIS TREMBLAY
                    <br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 11pt;">
                        Sommaire
                    </div>
                    <div class="ncouvtexte" style="width:500px; margin-top: 5px;">
                        <a href="pdf/Distorsion.pdf#page=9" style="font-family: Gandhi Sans Italic;">À la folie</a> par Yousra Benziane<br />
                        <a href="pdf/Distorsion.pdf#page=10" style="font-family: Gandhi Sans Italic;">Je suis cette bombe qu'on avait oubliée au fond d'un tiroir</a> par Maxime Cayer<br />
                        <a href="pdf/Distorsion.pdf#page=11" style="font-family: Gandhi Sans Italic;">Asphyxiée</a> par Élise Warren<br />
                        <a href="pdf/Distorsion.pdf#page=14" style="font-family: Gandhi Sans Italic;">Litanie pour instruments à cordes</a> par Noémie Parent-Barber<br />
                        <a href="pdf/Distorsion.pdf#page=26" style="font-family: Gandhi Sans Italic;">Pêche</a> par Frédérique Tremblay<br />
                        <a href="pdf/Distorsion.pdf#page=28" style="font-family: Gandhi Sans Italic;">Trois transmissions antérieures</a> par Philippe Turgeon<br />
                        <a href="pdf/Distorsion.pdf#page=41" style="font-family: Gandhi Sans Italic;">Lumière, couleurs et eau - Observations Naturelles (Composition 1.6)</a> par François Bordeleau<br /><br />
                        <a href="pdf/Distorsion.pdf#page=49" style="font-family: Gandhi Sans Italic;">Et si Facebook était un roman?</a> par Isaac Montreuil<br /><br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 10pt;">
                        <a href="pdf/Distorsion.pdf">> Lire l'intégral</a>
                    </div>
                </td>
            </tr>
        </table>
        <div style="height: 20px;"></div>
    </div>
    <div style="height: 150px;"></div>
    </center>