<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://ekphrasis.ca/images/COUV2.jpg" />
    <link rel="image_src" href="http://ekphrasis.ca/images/COUV2.jpg" />

    <title>L'opulence</title>
    <meta name="description" content="Ekphrasis est une revue de création littéraire fondée par des étudiants et qui propose d'incarner un mot, un thème ou un concept par cette chair littéraire qu'est le texte. Soutenant l'inconnu à bout de bras, la revue Ekphrasis propose des imitations sans origine, un passage entre l'imaginaire encore informe et la mise en corps de l'écriture qui s'ouvre, explorateur, sur l'éden des lettres." />

    <link rel="stylesheet" href="css.css" type="text/css">

    <script type="text/javascript">
  <!--
  if (screen.width <= 800) {
    window.location = "http://ekphrasis.ca/mobile/index.html";
  }
  //-->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78119603-1', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>
    <center>
        <div class="haut">
            <table cellspacing="15"><tr>
                <td><a href="index.html">
                    <div class="menu" style="margin-bottom: 5px;">Accueil</div>
                </a></td>
                <td><a href="numeros.html">
                    <div class="menu2" style="margin-bottom: 5px;">Numéros</div>
                </a></td>
                <td><a href="textes.html">
                    <div class="menu" style="margin-bottom: 5px;">Textes</div>
                </a></td>
                <td><img src="images/revue.png" style="z-index:3; width: 180px; position: relative; top: 3px;">
                </td>
                <td><a href="theme.html">
                    <div class="menu" style="margin-bottom: 5px;">Thème</div>
                </a></td>
                <td><a href="actualite.html">
                    <div class="menu" style="margin-bottom: 5px;">Actualité</div>
                </a></td>
                <td><a href="contact.html">
                    <div class="menu" style="margin-bottom: 5px;">Contact</div>
                </a></td>
            </tr></table>
        </div>

        <div class="fond">
        <div style="height: 60px;"></div>

        <table cellpadding="30">
        	<tr>
                <td>
                    <img src="images/COUV2.jpg" class="ncouv">
                </td>
                <td valign=top>
                    <div class="ncouvtitre">
                        L'opulence
                    </div>
                    <div class="ncouvtexte" style="width:500px;">
                        Automne 2014 | Numéro II<br /><br />
                        Ça déborde. Ça fuit infiniment, percé. Sur des épaules écrasées, ça se répand. Comme si rien n'était, on nous glisse au-dessous de son poids. Là où une fleur briserait la condition humaine. Là où dévoré d'amour je t'annihile, une lame à la main, un oeil en verre dans l'autre. D'ici, on lève les yeux, peut-être même la tête. Un soleil artificiel me rappelle ma nature morte. Ça y est. De l'argent tombe du ciel. On croit rêver. Un rêve de trop. Partout, l'opulence. Puis dans l'écroulement et la poussière, quelque chose se décuple encore. <br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 11pt;">
                        Sommaire
                    </div>
                    <div class="ncouvtexte" style="width:500px; margin-top: 5px;">
                        <a href="pdf/II - L'opulence.pdf#page=5" style="font-family: Gandhi Sans Italic;">Préface</a> par Cédric Trahan<br />
                        <a href="pdf/II - L'opulence.pdf#page=7" style="font-family: Gandhi Sans Italic;">Than</a> par Geneviève Le Dorze<br />
                        <a href="pdf/II - L'opulence.pdf#page=11" style="font-family: Gandhi Sans Italic;">L'arbre bleu</a> par Élise Warren<br />
                        <a href="pdf/II - L'opulence.pdf#page=14" style="font-family: Gandhi Sans Italic;">Rideau</a> par Édith Payette<br />
                        <a href="pdf/II - L'opulence.pdf#page=22" style="font-family: Gandhi Sans Italic;">Le règne des chrysanthèmes</a> par Évelyne Bisaillon<br />
                        <a href="pdf/II - L'opulence.pdf#page=30" style="font-family: Gandhi Sans Italic;">L'homme brûlé</a> par Louka Lapointe Hénaut<br />
                        <a href="pdf/II - L'opulence.pdf#page=39" style="font-family: Gandhi Sans Italic;">La tombée du rideau</a> par Dominic Laperrière-Marchessault<br />
                        <a href="pdf/II - L'opulence.pdf#page=43" style="font-family: Gandhi Sans Italic;">Nerfs de carcasses</a> par Laurence Bouthillier-Lemire<br />
                        <a href="pdf/II - L'opulence.pdf#page=48" style="font-family: Gandhi Sans Italic;">Le meilleur des deux</a> par Annie-Kim Robitaille<br />
                        <a href="pdf/II - L'opulence.pdf#page=51" style="font-family: Gandhi Sans Italic;">Le sceptique</a> par Francis Tremblay<br />
                        <a href="pdf/II - L'opulence.pdf#page=55" style="font-family: Gandhi Sans Italic;">Atlas fini</a> par Cédric Trahan<br /><br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 10pt;">
                        <a href="pdf/II - L'opulence.pdf">> Lire l'intégral</a>
                    </div>
                </td>
            </tr>
        </table>
        <div style="height: 20px;"></div>
    </div>
    <div style="height: 150px;"></div>
    </center>