<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://ekphrasis.ca/images/COUV3.jpg" />
    <link rel="image_src" href="http://ekphrasis.ca/images/COUV3.jpg" />

    <title>Le seuil</title>
    <meta name="description" content="Ekphrasis est une revue de création littéraire fondée par des étudiants et qui propose d'incarner un mot, un thème ou un concept par cette chair littéraire qu'est le texte. Soutenant l'inconnu à bout de bras, la revue Ekphrasis propose des imitations sans origine, un passage entre l'imaginaire encore informe et la mise en corps de l'écriture qui s'ouvre, explorateur, sur l'éden des lettres." />

    <link rel="stylesheet" href="css.css" type="text/css">

    <script type="text/javascript">
  <!--
  if (screen.width <= 800) {
    window.location = "http://ekphrasis.ca/mobile/index.html";
  }
  //-->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78119603-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<style type="text/css">
</style>

<body>
    <center>
        <div class="haut">
                        <table cellspacing="15"><tr>
                <td><a href="index.html">
                    <div class="menu" style="margin-bottom: 5px;">Accueil</div>
                </a></td>
                <td><a href="numeros.html">
                    <div class="menu2" style="margin-bottom: 5px;">Numéros</div>
                </a></td>
                <td><a href="textes.html">
                    <div class="menu" style="margin-bottom: 5px;">Textes</div>
                </a></td>
                <td><img src="images/revue.png" style="z-index:3; width: 180px; position: relative; top: 3px;">
                </td>
                <td><a href="theme.html">
                    <div class="menu" style="margin-bottom: 5px;">Thème</div>
                </a></td>
                <td><a href="actualite.html">
                    <div class="menu" style="margin-bottom: 5px;">Actualité</div>
                </a></td>
                <td><a href="contact.html">
                    <div class="menu" style="margin-bottom: 5px;">Contact</div>
                </a></td>
            </tr></table>
        </div>

        <div class="fond">
        <div style="height: 60px;"></div>

        <table cellpadding="30">
        	<tr>
                <td>
                    <img src="images/COUV3.jpg" class="ncouv">
                </td>
                <td valign=top>
                    <div class="ncouvtitre">
                        Le seuil
                    </div>
                    <div class="ncouvtexte" style="width:500px;">
                        Printemps 2015 | Numéro III<br /><br />
                        Le seuil du seuil. Nous y sommes. Nous y serons. À l’esquisse des mondes. Notre imaginaire se fracture sous une seule reliure qui forme notre pensée. L’écho d’une suite, d’un passage de frontières en frontières, voici le recueil où chaque texte se poursuit derrière vos paupières fermées. Une chrysalide qui se fissure. Un nouvel être qui prend forme. Tel est le troisième numéro d’Ekphrasis.<br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 11pt;">
                        Sommaire
                    </div>
                    <div class="ncouvtexte" style="width:500px; margin-top: 5px;">
                        <a href="pdf/III - Le seuil.pdf#page=5" style="font-family: Gandhi Sans Italic;">Préface</a> par Élise Warren<br />
                        <a href="pdf/III - Le seuil.pdf#page=7" style="font-family: Gandhi Sans Italic;">Phanetai Moi</a> par Francis Tremblay<br />
                        <a href="pdf/III - Le seuil.pdf#page=9" style="font-family: Gandhi Sans Italic;">L'aile de l'alouette encerclée de bleu d'or rejoint le coeur du coquelicot endormi sur la prairie parée de diamants</a> par Geneviève Le Dorze<br />
                        <a href="pdf/III - Le seuil.pdf#page=11" style="font-family: Gandhi Sans Italic;">Un dérangement</a> par Fabrice C. Bergeron<br />
                        <a href="pdf/III - Le seuil.pdf#page=18" style="font-family: Gandhi Sans Italic;">Rentrer chez toi tôt un lundi matin en métro</a> par Jean-François Vaillancourt<br />
                        <a href="pdf/III - Le seuil.pdf#page=20" style="font-family: Gandhi Sans Italic;">Miroir</a> par Kevin Berger Soucie<br />
                        <a href="pdf/III - Le seuil.pdf#page=26" style="font-family: Gandhi Sans Italic;">Les passants</a> par Dominic Laperrière-Marchessault<br />
                        <a href="pdf/III - Le seuil.pdf#page=29" style="font-family: Gandhi Sans Italic;">La Ballerine</a> par Maude Huard<br />
                        <a href="pdf/III - Le seuil.pdf#page=34" style="font-family: Gandhi Sans Italic;">Fractures d'un suicide agnostique</a> par Samar Besada<br />
                        <a href="pdf/III - Le seuil.pdf#page=45" style="font-family: Gandhi Sans Italic;">Facebook</a> par Cédric Trahan<br />
                        <a href="pdf/III - Le seuil.pdf#page=53" style="font-family: Gandhi Sans Italic;">De la simplicité</a> par Nathan S. Giroux<br /><br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 10pt;">
                        <a href="pdf/III - Le seuil.pdf">> Lire l'intégral</a>
                    </div>
                </td>
            </tr>
        </table>
        <div style="height: 20px;"></div>
    </div>
    <div style="height: 150px;"></div>
    </center>