<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://ekphrasis.ca/images/COUVW2.jpg" />
    <link rel="image_src" href="http://ekphrasis.ca/images/COUVW2.jpg" />

    <title>Variations</title>
    <meta name="description" content="Ekphrasis est une revue de création littéraire fondée par des étudiants et qui propose d'incarner un mot, un thème ou un concept par cette chair littéraire qu'est le texte. Soutenant l'inconnu à bout de bras, la revue Ekphrasis propose des imitations sans origine, un passage entre l'imaginaire encore informe et la mise en corps de l'écriture qui s'ouvre, explorateur, sur l'éden des lettres." />

    <link rel="stylesheet" href="css.css" type="text/css">

    <script type="text/javascript">
  <!--
  if (screen.width <= 800) {
    window.location = "http://ekphrasis.ca/mobile/index.html";
  }
  //-->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78119603-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<style type="text/css">
</style>

<body>
    <center>
        <div class="haut">
                        <table cellspacing="15"><tr>
                <td><a href="index.html">
                    <div class="menu" style="margin-bottom: 5px;">Accueil</div>
                </a></td>
                <td><a href="numeros.html">
                    <div class="menu2" style="margin-bottom: 5px;">Numéros</div>
                </a></td>
                <td><a href="textes.html">
                    <div class="menu" style="margin-bottom: 5px;">Textes</div>
                </a></td>
                <td><img src="images/revue.png" style="z-index:3; width: 180px; position: relative; top: 3px;">
                </td>
                <td><a href="theme.html">
                    <div class="menu" style="margin-bottom: 5px;">Thème</div>
                </a></td>
                <td><a href="actualite.html">
                    <div class="menu" style="margin-bottom: 5px;">Actualité</div>
                </a></td>
                <td><a href="contact.html">
                    <div class="menu" style="margin-bottom: 5px;">Contact</div>
                </a></td>
            </tr></table>
        </div>

        <div class="fond">
        <div style="height: 60px;"></div>

        <table cellpadding="30">
        	<tr>
                <td>
                    <img src="images/COUVW2.jpg" class="ncouv">
                </td>
                <td valign=top>
                    <div class="ncouvtitre">
                        Variations
                    </div>
                    <div class="ncouvtexte" style="width:500px;">
                        Deuxième édition web | 2015<br /><br />
                        Les vibrations onduleront sur un air oublié au gré de deux pôles constamment réinterprétés. L’amorce polyphonique d’un chœur, harmonie d'entre deux mesures, sera entamée sous vos paupières fléchies d’inspiration. Ce sera un nouveau regard s’exposant aux variations d’un même gène. Entre <font style="font-family: Gandhi Sans Italic;">Les vagues heureuses et morbides s'amourachent avec délicatesse</font> et <font style="font-family: Gandhi Sans Italic;">Et pourtant</font>, quelles seront les variations, ces chemins insoupçonnés qu'emprunteront les auteurs?<br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 11pt;">
                        Sommaire
                    </div>
                    <div class="ncouvtexte" style="width:500px; margin-top: 5px;">
                        <a href="pdf/W2 - Variations.pdf#page=4" style="font-family: Gandhi Sans Italic;">Mais</a> par Mathilde Grenier<br />
                        <a href="pdf/W2 - Variations.pdf#page=6" style="font-family: Gandhi Sans Italic;">L'île</a> par Frédérique Tremblay<br />
                        <a href="pdf/W2 - Variations.pdf#page=8" style="font-family: Gandhi Sans Italic;">Harem</a> par Cédric Trahan<br />
                        <a href="pdf/W2 - Variations.pdf#page=10" style="font-family: Gandhi Sans Italic;">Julien l'avait tant aimée</a> par Lucie Jean<br />
                        <a href="pdf/W2 - Variations.pdf#page=12" style="font-family: Gandhi Sans Italic;">Amort</a> par Olivier Côté<br />
                        <a href="pdf/W2 - Variations.pdf#page=13" style="font-family: Gandhi Sans Italic;">Disparition</a> par Sylvie Rheault<br /><br />
                    </div>
                    <div class="ncouvtitre" style="font-size: 10pt;">
                        <a href="pdf/W2 - Variations.pdf">> Lire l'intégral</a>
                    </div>
                </td>
            </tr>
        </table>
        <div style="height: 20px;"></div>
    </div>
    <div style="height: 150px;"></div>
    </center>