<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://ekphrasis.ca/images/thumbnail.jpg" />
    <link rel="image_src" href="http://ekphrasis.ca/images/thumbnail.jpg" />

    <title>Comment soumettre son texte</title>
    <meta name="description" content="Ekphrasis est une revue de création littéraire fondée par des étudiants et qui propose d'incarner un mot, un thème ou un concept par cette chair littéraire qu'est le texte. Soutenant l'inconnu à bout de bras, la revue Ekphrasis propose des imitations sans origine, un passage entre l'imaginaire encore informe et la mise en corps de l'écriture qui s'ouvre, explorateur, sur l'éden des lettres." />

    <link rel="stylesheet" href="css.css" type="text/css">

    <script type="text/javascript">
  <!--
  if (screen.width <= 800) {
    window.location = "http://ekphrasis.ca/mobile/index.html";
  }
  //-->
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78119603-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<style type="text/css">
</style>

<body>
    <center>
        <div class="haut">
            <table cellspacing="15"><tr>
                <td><a href="index.html">
                    <div class="menu" style="margin-bottom: 5px;">Accueil</div>
                </a></td>
                <td><a href="numeros.html">
                    <div class="menu" style="margin-bottom: 5px;">Numéros</div>
                </a></td>
                <td><a href="textes.html">
                    <div class="menu" style="margin-bottom: 5px;">Textes</div>
                </a></td>
                <td><img src="images/revue.png" style="z-index:3; width: 180px; position: relative; top: 3px;">
                </td>
                <td><a href="theme.html">
                    <div class="menu" style="margin-bottom: 5px;">Thème</div>
                </a></td>
                <td><a href="actualite.html">
                    <div class="menu" style="margin-bottom: 5px;">Actualité</div>
                </a></td>
                <td><a href="contact.html">
                    <div class="menu" style="margin-bottom: 5px;">Contact</div>
                </a></td>
            </tr></table>
        </div>

        <div class="fond">

        <div style="height: 100px;"></div>

                    <div class="titre1" style="font-size: 21pt; text-align: center; margin-top: 0px; width: 500px;">
                        Comment soumettre son texte
                    </div>
                    <div class="ncouvtexte" style="width: 700px; text-align: justify; margin-top: 5px; font-size: 12pt; color: #393433; line-height: 17pt;">

                         Comme chaque numéro de la revue Ekphrasis/WebEkphrasis est centré sur l'exploration d'un thème ou d'une contrainte particulière, toutes les soumissions de textes à la revue s'effectuent lors d'un appel de texte. Pour savoir quels sont les appels de textes en cours, il est possible de consulter l'onglet <a href="theme.html"><font style="font-family: Gandhi Sans Bold;">thème</font></a> sur la page d'accueil de notre site web.<br /><br />

                        Toutes les soumissions se font par courriel à l'adresse suivante : <font style="font-family: Gandhi Sans Bold;">revue@ekphrasis.ca</font>. Pour faciliter la réception des textes et la sélection anonyme, l'équipe d'Ekphrasis vous prie de bien respecter les consignes suivantes :<br /><br />

                        - Soumettre son document en format .doc ou .docx<br />
                        - Bien écrire son nom dans le titre ou le corps du courriel lors de la soumission<br />
                        - Ne pas inclure son nom dans le document envoyé<br />
                        - Nommer le document selon la formule suivante :<br />
                        Titre de la création - Numéro de la revue<br />
                        Exemple 1 : Héraclès infini - Le bourdonnement<br />
                        Exemple 2 : Polymorphia - Penderecki<br /><br />

                        Nous tenons à souligner qu'une soumission n'est pas garante d'une publication. La revue s'engage toutefois à informer les auteurs du statut de leur texte, qu'il soit accepté ou refusé, dans les délais les plus brefs possibles. Pour en savoir davantage sur nos critères de sélection et de correction, il est possible de consulter <a href="correction.html"><font style="font-family: Gandhi Sans Bold;">nos modalités de correction</font></a>. <br /><br />

                    </div> 
                </td>
            </tr>
        </table>

        <div style="height: 30px;"></div>
    </div>

    <div style="height: 150px;"></div>
    </center>